@import "../../assets/less/variables.scss";


.auction-table {
  .endtime-badge {
    background: $bg-light;
    display: inline-block;
    padding: 5px 12px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
    font-size: $font-size-base - 1;
    .dark-mode & {
      background: $menu-active-dark;
      color: $white;
      box-shadow: none;
    }
  }

  .ant-table {
    .ant-table-body {
      max-height: 30vh;
      min-height: 50px;
    }
  }
}

.bidding-bottom-table {
  table {
    td:nth-child(2) {
      display: flex;
      justify-content: center;
    }
    td:nth-child(3) {
      .assets-withicon {
        justify-content: flex-start !important;
      }
    }
    .ant-table-tbody {
      tr {
        td:nth-child(5) {
          // text-align: center !important;
        }
      }
    }
  }
}
.title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 1px 10px;
  .dark-mode & {
    color: #fff;
  }
}
.ant-input {
  color: $text-color-dark2;
  .dark-mode & {
    color: $white;
  }
}

.biddin-btn {
  border-radius: $base-border-radius !important;
  color: $white !important;
  text-transform: capitalize;
  font-weight: 400 !important;
  font-size: 12px !important;
  &:active {
    border: none !important;
  }
  &:hover {
    border: none !important;
  }
}
.bid-btn-placed {
  background: $warning-color !important;
  border: 2px solid $warning-color !important;
  border-radius: $base-border-radius;
}
.bid-btn-success {
  background: $success-color !important;
  border: 2px solid $success-color !important;
}
.bid-btn-rejected {
  background: $secondary-color !important;
  border: 2px solid $secondary-color !important;
}

.bid-btn-completed {
  background: $primary-color !important;
  border: 2px solid $primary-color !important;
}
.update-btn-main-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .claim-title {
    padding-right: 15px;
    padding-left: 15px;
    color: #fff;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  .locker-up-main-container {
    .locker-up-container {
      .claim-container {
        .claim-btn {
          .ant-btn {
            border-radius: 40px !important;
            border: 1px solid #e2f7e5 !important;
            background: rgba(226, 247, 229, 0.1) !important;
          }
        }
      }
    }
  }
}

.bidding-action {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

.commodo-card {
  h3 {
    color: #fff;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
}
.more-bottom {
  h3 {
    color: #fff;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
}

.palcebid-modal {
  .ant-modal-close {
    top: 12px;
    right: 12px;
    position: absolute;

    .ant-modal-close-x {
      width: 26px;
      height: 26px;
      line-height: 26px;
      span {
        svg {
          fill: #fff;
        }
      }
    }

    .icon {
      fill: #fff;
      width: 12px;
    }
  }

  .ant-modal-header {
    background: none;
    border: 0;

    .ant-modal-title {
      font-size: 1.3rem;
      font-weight: 300;

      .dark-mode & {
        color: #ffffff;
      }
    }
  }

  .ant-modal-content {
    border-radius: 15px;
    padding: 0px 0px;
    background: url("../../assets/images/bid_modal_back.svg") !important;
    // box-shadow: $box-shadow-inner-light;

    .dark-mode & {
      background: url("../../assets/images/bid_modal_back.svg") !important;
      // box-shadow: $box-shadow-inner-dark;
      border: none;
    }

    .modal-btn {
      height: 38px;
      line-height: 38px;
      padding: 0 55px;
    }

    .ant-modal-body {
      padding: 2rem;
      position: relative;

      .place_bid_modal_main_container {
        .place_bid_modal_container {
          .timer_container {
            color: red;
            border-radius: 5px;
            background: #2f5143;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            display: flex;
            justify-content: center;
            // width: max-content;
            column-gap: 1.5rem;
            position: absolute;
            top: -2%;
            left: 30%;
            padding: 0.6rem 0.9rem;
            .time_box {
              .time {
                font-style: normal;
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 29px;
                text-align: center;
                color: #ffffff;
              }
              .value {
                font-style: normal;
                font-weight: 400;
                font-size: 0.6rem;
                line-height: 10px;
                text-transform: uppercase;
                text-align: center;
                color: #ffffff;
                margin-top: 7px;
              }
            }
          }
          .auction_quantity_container {
            display: flex;
            justify-content: space-between;
            margin-top: 5rem;
            margin-bottom: 3rem;
            .text {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              color: rgba(255, 255, 255, 0.8);
            }
            .value {
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
              color: #eeedff;
              margin-top: 8px;
            }
            .price_box {
              .value {
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 22px;
                color: #ffffff;
                margin-top: 8px;
              }
            }
            .target_cmst_box {
              .value {
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 22px;
                color: #ffffff;
                margin-top: 8px;
              }
            }
          }
          .balance_container {
            display: flex;
            justify-content: space-between;
            margin-top: 1.7rem;
            margin-bottom: 1rem;
            .title_text {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              color: rgba(255, 255, 255, 0.8);
            }
            .value_box {
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 15px;
              text-align: right;
              color: #52b788;
              display: flex;
              align-items: center;
              column-gap: 0.8rem;

              .btn_box {
                .maxhalf {
                  border-radius: 5px;
                  border: 0.3px solid #e2f7e5;
                  background: rgba(226, 247, 229, 0.1);
                  color: #fff;
                  text-align: center;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  padding: 0px 12px;
                  height: 25px;
                }
              }
            }
          }
          .token_with_input_container {
            margin: 10px 0px;
            .input_with_icon_container {
              border-radius: 5px;
              background: #1d3129;
              box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
              padding: 10px;
              .input_container {
                display: flex;
                align-items: center;
                column-gap: 6px;
                justify-content: space-between;
                .icon_container {
                  display: flex;
                  align-items: center;
                  column-gap: 6px;
                  .assets-withicon {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .assets-icons {
                      width: 44px;
                      height: 44px;
                      svg {
                        width: 44px;
                        height: 44px;
                      }
                    }

                    .name {
                      color: #fff;
                      font-size: 22px;
                      font-style: normal;
                      font-weight: 600;
                      line-height: normal;
                    }
                  }
                }

                .ant-input {
                  border: 0;
                  background: none;
                  font-size: 1.8rem;
                  line-height: 1;
                  text-align: right;
                  max-width: 200px;
                  margin-bottom: 0;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  color: $text-color-dark2;
                  padding: 0;

                  @media screen and (max-width: 1560px) {
                    font-size: 1.4rem;
                  }

                  @media screen and (max-width: 1441px) {
                    font-size: 1.4rem;
                  }

                  @media screen and (max-width: 1367px) {
                    font-size: 1.2rem;
                    margin-top: 4px;
                  }

                  &::-webkit-placeholder {
                    color: $text-color-dark2;
                  }

                  &::placeholder {
                    color: $text-color-dark2;
                  }

                  &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                  }

                  &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                  }

                  &[type="number"] {
                    -moz-appearance: textfield;
                  }

                  .dark-mode & {
                    color: $white;

                    &::-webkit-placeholder {
                      color: $white;
                    }

                    &::placeholder {
                      color: $white;
                    }
                  }
                }
              }
            }
          }

          .receiable_amount_box {
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
            .text {
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              color: rgba(255, 255, 255, 0.8);
            }
            .value {
              font-weight: 700;
              font-size: 14px;
              line-height: 17px;
              text-align: right;
              color: rgba(255, 255, 255, 0.8);
            }
          }
          .button_container {
            display: flex;
            justify-content: center;
            margin-top: 3rem;

            .bid-btn {
              padding: 0px 45px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}
