@import "../../../../assets/less/variables.less";
.commodo-borrow-page {
  .assets-select-wrapper {
    .ant-select {
      min-width: 230px;
      max-width: 100%;
      @media screen and (max-width:1400px) {
        min-width: 210px;
        min-width: 100%;
      }
    }
  }
}
