@import "../../assets/less/variables.scss";

.copy-section {
  cursor: pointer;
  .icon {
    fill: $bg-dark;
    margin-left: 8px;
    width: 12px;
    transition: all ease-in 0.1s;
    .dark-mode & {
      fill: $bg-light;
    }
    
  }
  &:hover{
    .icon{
      transform: scale(1.2);
    }
  }
}
