@import "../../assets/less/variables.less";

.liquidation-table {
  .endtime-badge {
    background: @menu-active-dark;
    color: @white;
    display: inline-block;
    padding: 5px 12px;
  }

  .ant-table {
    .ant-table-body {
      max-height: 30vh;
      min-height: 50px;
    }
  }
}