@import "../../assets/less/variables.less";

.top_bar {
  padding: 20px 45px 20px 20px;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99;
  margin-left: auto;
  width: 100%;
  height: 74px;
  backdrop-filter: blur(15px) brightness(60%) opacity(0);

  @media screen and (max-width:1400px) {
    padding: 20px 25px 20px 20px;
  }

  @media screen and (max-width:1367px) {
    padding: 14px 25px 14px 20px;
    height: 64px;
  }

  @media screen and (max-width: 991px) {
    padding: 15px;
    z-index: 99;
    width: 100%;
  }

  &.fixedHeaderOnScroll {
    backdrop-filter: blur(20px) brightness(90%) opacity(1);
    .dark-mode & {
      backdrop-filter: blur(15px) brightness(70%) opacity(1);
    }
  }

  .faucet-btn {
    font-weight: 600;
    .icon {
      fill:@white;
      width: 13px;
      margin-right: 6px;
      margin-bottom: -2px;
    }
  }

  .commodo-btn {
    font-size: 10px;
    font-family: @font-family;
    line-height: 100%;
    padding: 0 15px;
    img {
      margin-right: 5px;
      margin-left: 0;
      width: 70px;
    }
    .dropicon {
      fill: @primary-color;
      width: 13px;
      margin: 0 0 0 6px;
    }
  }

  .theme-toogle {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 12px;

    .theme-icons {
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .icon {
        width: 20px;
        height: 20px;

        .dark-mode & {
          fill: @text-color-light;
        }
      }
    }
  }

  .connect-button {
    display: flex;
    justify-content: flex-end;
    font-family: @font-family;

    .ant-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: @font-family;
      font-weight: 600;
      height: 40px;
      line-height: 40px;
      .icon {
        fill: @bg-dark;
        margin-bottom: 0;
      }
      &.ant-dropdown-open {
        .icon {
          fill: @white;
        }
      }
      &.connect-btn {
        display: flex;
        align-items: center;
        .icon {
          margin-left: 6px;
        }
      }
      &.connected-btn {
        height: 40px;
        line-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          fill: @white;
        }
      }
      &.circle-btn {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        padding: 0;
        text-align: center;
        margin-right: 18px;
        .icon {
          margin: auto;
        }
        &:focus {
          .icon {
            fill: @white;
          }
        }
      }
    }

    .connected_div {
      display: flex;
      justify-content: center;
      align-items: center;

      .disconnect-btn {
        height: 35px;
        line-height: 35px;
      }

      .connected_left {
        padding-right: 20px;
        text-align: right;

        .comos-address {
          display: flex;
          align-items: center;
          color: @primary-color;

          span {
            display: inline-block;
            vertical-align: bottom;
            white-space: nowrap;
            width: 100%;
            max-width: 90px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: @font-size-base - 4;
          }

          .icon {
            fill: @primary-color;
            width: 8px;
            height: 8px;
          }
        }
      }

      .connected_button {
        display: flex;
        align-items: center;
        border: 1px solid @background-dark1;
        padding: 5px 12px;
        border-radius: 20px;
        cursor: pointer;
        transition: all ease-in 0.1s;
        color: @primary-color;

        @media screen and (max-width:1367px) {
          font-size: @font-size-sm;
        }

        .icon {
          height: 20px;
          width: 20px;
          margin-right: 6px;
          cursor: pointer;

          @media screen and (max-width:1367px) {
            height: 17px;
            width: 17px;
          }

        }

        &:hover{
          border-color: @success-color;
          background: @success-color;;
        }

      }
    }
  }
}


.ant-dropdown {
  &.commodobtn-drop {
    .ant-dropdown-menu {
      background: @background-dark1;
      .ant-dropdown-menu-item {
        padding: 8px 10px;
        text-align: center;
        img {
          width: 70px;
          margin: auto;
        }
        .ant-dropdown-menu-title-content {
          display: none;
        }
      }
    }
  }
}